{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}} 
{% endblock %}

{% block body %}
    <div>
        <h1>Editing {{title}}</h1>
    </div>
    <form method="POST" action="{% url 'save_edit' %}">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{title}}">
        <div>
            <textarea name="text" class="type_name" style="max-height:200px; resize: none;">{{content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}